<div class="comment">
<% @product.comments.all.each do |c| %>
    <%= c.body %>
    <hr>
    <% end %>
  </div>
  <%# link_to "Delete", [@product, comments], class: 'btn btn-danger', data: { confirm: "Are you sure? "}, method: :delete %>
