<h3 class="details_title">Orders details</h3>

<div class="details">
  <%= text_field :name, nil, {placeholder: 'Name', class: 'form-control details'} %>
  <%= telephone_field :number, nil, {placeholder: 'Number', class: 'form-control details'} %>
  <%= email_field :email, nil, {placeholder: 'Email', class: 'form-control details'} %>
  <%= text_field :comment, nil, {placeholder: 'Your extra comment', class: 'form-control details'} %>
</div>
