<h3 class="details_title">Orders details</h3>

<div class="details">
  <%= text_field :name, nil, {placeholder: 'Name', class: 'form-control details'} %>
  <%= telephone_field :number, nil, {placeholder: 'Number', class: 'form-control details'} %>
  <%= email_field :email, nil, {placeholder: 'Email', class: 'form-control details'} %>
  <%= text_field :comment, nil, {placeholder: 'Your extra comment', class: 'form-control details'} %>
</div>

<!--  -->
<!-- <div> -->
  <%#= form_for @order, class: "form-group" do |f| %>
    <%#= f.label :name %>

    <%#= f.text_field :name, class:"form-control", required: true %>

    <br>

    <%#= f.label :email %>

    <%#= f.text_field :email, class:"form-control", required: true %>

    <br>

    <%#= f.label :phone %>

    <%#= f.text_field :phone, class:"form-control", required: true %>

    <br>

    <%#= f.submit 'Order', class: 'btn btn-primary' %>
  <%# end %>
<!-- </div> -->
