/*
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";

 .logo {
   max-width: 100px;
   max-width: 100px;
 }

 .search_form {
   margin-right: 150px;
   margin-left: auto;
 }

 .table_category {
   padding-top: 20px;
 }
