/*
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";

 .logo {
   max-width: 100px;
   max-width: 100px;
 }

 .search_form {
   margin-right: 150px;
   margin-left: auto;
 }

 .product_title {
   text-align: center;
 }

 .table_category {
   padding-top: 20px;
   margin-left: 30px;
 }

.product_grid {
  // margin-left: 10px;
  // padding: 50px;
  width: 1000px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.product {
  margin: 5px;
  height: 20px;
  width: 30%;
  margin-bottom: 300px;
  margin-right: auto;
  margin-left: 35px;
}

.main {
  margin-top: 10px;
}

.show_product {
  text-align: center;
  margin-top: 50px;
}

.product_image {
  width: 300px;
  height: 200px;
}

.search_form {
  margin-left: 100px;
}

.carousel {
  margin-top: 50px;
  margin-left: 30px;
  min-width: 500px;
  height: 300px;
}
