// Place all the styles related to the Carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.cart_image {
  max-width: 40px;
  max-height: 30px;
}

.cart_info {
font-size: 30px;
}

.details {
  text-align: center;
  margin-top: 30px;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto; 
 }

.details_title {
  text-align: center;
}
