.comment {
  margin-left: 15px;
}

.comment_name {
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.comment_label_title {
  margin-left: 630px;
}

.rating-header {
    margin-top: -10px;
    margin-bottom: 10px;
}

.rating {
  text-align: center;
}

.title_rating {
  text-align: center;
}

.comments {
  margin-top: 50px;
  .comments_title {
    text-align: center;
  }
}

.comment_button {
  margin-top: 10px;
}

.comment_form {
  max-width: 500px;
  height: 100px;
  // text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.radio_but {
  display: none;
}

.trix-button-group-spacer {
  max-width: 0px;
}

.trix-button-row {
  max-width: 300px;
}

#trix-toolbar-1 {
  text-align: -webkit-center;
  margin-right: 16em;
}
