.comment {
  margin-left: 15px;
}

.comment_name {
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.comment_label_title {
  margin-left: 630px;
}

.rating-header {
    margin-top: -10px;
    margin-bottom: 10px;
}

.rating {
  margin-left: 560px;
}

.title_rating {
  text-align: center;
}
