.order {
  border: 5px outset lightgray;
  padding: .9px;
}

.post-head{
  text-align: center;
}

.head-order {
  :hover{
    background-color: #EAEDED;
  }
}

.product_button{
  text-align: center;
}
