.logo {
  max-width: 100px;
  max-width: 100px;
}

.search_form {
  margin-right: 150px;
  margin-left: auto;
}


.main {
 margin-top: 10px;
 max-width: 1200px;
}


.search_form {
 margin-left: 100px;
}

.carousel {
 margin-top: 50px;
 margin-left: 30px;
 min-width: 500px;
 height: 300px;
}

// COMMENTS

.show_milti_image {
 margin-top: 50px;
 margin-left: 40px;
}

#myImg {
   cursor: zoom-in;
}

#flash {
 margin-top: auto;
}

.form_cart {
 margin-top: 5px;
}

.btn_cart {
 margin-top: 5px;
}

.row {
 max-width: 1300px;
}

body {
 max-width: 1300px;
}

.email {
 color: black;
}
