<div class="left">
<% if @product.pictures.present? %>
  <% @product.pictures.each do |picture| %>
    <% if @product.pictures.first == picture %>
      <%= link_to image_tag(picture.url(:large)), product_path(picture), data: { lightbox: "roadtrip" }, class: 'show_main_image' %>
      <br>
    <% else %>
      <%= link_to image_tag(picture.url(:thumb)), product_path(picture), data: { lightbox: "roadtrip" }, class: "show_other_images" %>
    <% end %>
  <% end %>
<% end %>
</div>
